.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.top{
    background-color: beige;
    width: fit-content;
    margin: auto; 
    padding: 50px;
    border: 3px solid goldenrod;
    border-radius: 10px;
    box-sizing: border-box;
    color: rgb(23, 23, 23);
    font-size: 18px;
}
.videos video{
    width: 300px;
    height: 300px;
}
.messageBox {
    height: 80vh;
    box-sizing: border-box;
    border: 1px solid rgb(38, 38, 38);
    padding-bottom: 0;
    width: 400px;
    justify-content: space-between;
}
.messageBox-input{
    justify-content: space-between;
}
.messageBox-input input{
    height: 30px;
    width: 100%;
    font-size:24px;
}
.messageBox-input button{
    width: 50px;
}
.channelBox > div:first-child{
    border-bottom: 1px solid rgb(38, 38, 38);
}
.channelBox{
    box-sizing: border-box;
    height: 80vh;
    border: 1px solid rgb(38, 38, 38);
    width: 100px;
    border-right: 0;
}
.channelBox *{
    margin:auto;
    width:fit-content;
}